.Container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.Main {
    width: 100%;
    /* height: 100vh; */
    padding: 0px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.Main  img {
    width: 40%;

}