.Container {
    width: 100%;
    height: 100%;
    padding: 0px 130px;
}

.Data {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

.BoxInfo {
    position: absolute;
    width: 30%;
    padding-right: 10%;
    padding-top: 30px;
    height: 300px;
   
    z-index: 10;
}

.BoxInfo p:nth-child(1) {
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}
.BoxInfo p:nth-child(2) {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}

.test {
    position: relative;
    height: 1100px;
    width: 1100px;
    background-color: #086F6C;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50%;
    margin-top: -550px;

    border: 1px dashed white;
}





.Main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ClickBtn {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ClickBtn p {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 19px;
    background-color: #086F6C;
    cursor: pointer;
}

.ClickBtn p:active {
    transform: scale(0.98);
    opacity: 0.7;
}

.carousel {
    position: relative;
    width: 560px;
    height: 560px;
    border: 2px solid;
    border-radius: 50%;
    transition: .5s;
    top: 20%;
    transform-origin: center center;
    border: 1px dashed white;
}

.item_carousel {
    position: absolute;
    border-radius: 50%;
    background: #F26440;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 2px;
    bottom: 0;
    transition: .5s;
}

.item_carousel p:nth-child(1) {
    color: white;
    margin-top: 10px;
    font-size: 17px;
}

.item_carousel p:nth-child(2) {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 15px;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid wheat;
    background-color: #086F6C;

}

.item_carousel.next {
    background: blue;
    color: white;
}

.item_carousel.prev {
    background: green;
    color: white;
}

.item_carousel.active {
    background: #000;
    color: white;
}

.item_carousel:nth-child(1) {
    right: -0px;
    top: 90px;
}

.item_carousel:nth-child(2) {
    right: -37px;
    top: 253px;
}

.item_carousel:nth-child(3) {
    right: 28px;
    top: 423px;
}

.item_carousel:nth-child(4) {
    right: 180px;
    top: 507px;
}

.item_carousel:nth-child(5) {
    right: 343px;
    top: 502px;
}

.item_carousel:nth-child(6) {
    right: 480px;
    top: 380px;
}

.item_carousel:nth-child(7) {
    right: 515px;
    top: 210px;
}

.item_carousel:nth-child(8) {
    right: 450px;
    top: 50px;
}

.item_carousel:nth-child(9) {
    right: 300px;
    top: -37px;
}

.item_carousel:nth-child(10) {
    right: 130px;
    top: -20px;
}